@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;600;800&display=swap');

/* font-family: 'Karla', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ECFDF5;
    font-family: 'Karla', sans-serif;
    color: #2B283A;
}

body.dark-mode {
    background: #1F2937;
    color: #FFFFFF;
}

/* Navbar */
#nav {
    display: flex;
    width: 100vw;
    height: 2rem;
    justify-content:end;
}

#toggle-btn {
    font-weight: bold;
    font-size: 1rem;
    background: transparent;
    border: none;
    color: #10B981;
    cursor: pointer;
    text-transform: uppercase;
}

#toggle-btn.dark-mode {
    color: #4ADF86;
}

i {
    padding: .8rem;
}

/* heading style */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 100vw;
    justify-items: center;
}

h1 {
    width: 18.75rem;
    margin: 0 1rem;
    grid-column: 2;
    padding-top: 2rem;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 2em;
    text-align: left;
    line-height: 1em;
    letter-spacing: -0.025em;
}

.green {
    color: #10B981;
}

span.dark-mode {
    color: #4ADF86;
}

p {
    width: 18.75rem;
    grid-column: 2;
    font-size: 1em;
    line-height: 2em;
    color: #6B7280;
}

#para-1.dark-mode{
    color: #D5D4D8;
}

/* generate button */
#generate-btn {
    width: 12rem;
    height: 3rem;
    grid-column: 2;
    margin: 1.5rem 0;
    background: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}

#generate-btn.dark-mode {
    background: #4ADF86;
}

hr {
    max-width: 25rem;
    border: 1px solid #2F3e53;
    margin: auto;
}

#passwords {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 2rem;
}

#para-password-1, #para-password-2 {
    min-width: 12rem;
    height: 3rem;
    margin: .5rem 2rem;
    background-color: #273549;
    font-size: 1.2rem;
    line-height: 2.8rem;
    border-radius: .5rem;
    text-align: center;
    color:#5DEF92;
    ;
}

#input {
    display: flex;
    flex-wrap: wrap;
    height: 3rem;
    justify-content: center;
    align-items: center;
    color: #6B7280;
}

input[type=checkbox] {
    height: 1.2rem;
    width: 1.2rem;
    margin: .5rem;
}

input[type=number] {
    width: 2.8rem;
    margin: .5rem;
}

#para-info {
    color: #ff0000;
}


@media (min-width: 65rem) {
    hr {
        max-width: 50%;
    }
}